altair
attrs
blinker
cachetools<6     # Streamlit requires <6
certifi
charset-normalizer
filelock
fsspec
gitdb
GitPython
huggingface-hub
Jinja2
joblib
jsonschema
MarkupSafe
pillow
protobuf<4       # Hugging Face base requires <4
pyarrow
pydeck
pypdf
python-dotenv
PyYAML
requests
scikit-learn
scipy
six
smmap
tenacity
threadpoolctl
toml
tornado
tqdm
typing_extensions
urllib3

streamlit>=1.31,<1.39
pandas==2.2.3
numpy==1.26.4
watchdog
